# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Test Cache
.pytest_cache/

# Type Checker
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# Output
output/

# OS
.DS_Store
Thumbs.db